{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}
<body>
<br>
  <div class="container">
{% block content%}
  <h1> 로그인하기 </h1>

  <a href="/accounts/login">기존 아이디로 로그인</a><br>

  <a href="/accounts/signup"> 회원가입 </a> <br>

  {% if user.is_authenticated %}
    <a href="/accounts/logout"> 로그아웃 </a> <br>
  {{user.username}} 님이 로그인 중

  {% else %}
  <a href = "{% provider_login_url 'google' %}">구글 계정으로 로그인 </a> <br>
  로그인을 하셔야 합니다.
{% endif %}
{% endblock %}

</div>
</body>
